rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Default rule: Deny all reads and writes by default.
    // This is the safest starting point. You must explicitly grant access
    // to collections as you build your application.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
